{% extends 'base.html.twig' %}

{% block content %}
<section class="text-center">
    <h1 class="font-weight-normal">{{ headingTitle }}</h1>
    <h3>{{ textInfo }}</h3>
    <a href="{{ hrefButton }}" class="btn btn-lg btn-primary">{{ textButton }}</a>
</section>
{% endblock %}